<div class="card">
  <mat-card *ngFor="let product of products" class="example-card">
    <mat-card-header class="header">
      <img class="image" src="{{ product.image }}" />
    </mat-card-header>
    <mat-card-content class="bottom">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <h3>{{ product.title }}</h3>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      <p>{{ product.price | currency: "INR" }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="btn"
        type="button"
        (click)="addToCart(product)"
        mat-flat-button
        color="warn"
      >
        Add to cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
