.card {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  font-size: 1.3rem;
}
.example-card {
  border-radius: 25px;
  margin-bottom: 5rem;
  cursor: pointer;
  width: 70%;
  box-shadow: 0 0 10px 2px rgb(107, 105, 105);
  transition: all 0.5s;
}
.example-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px 2px rgb(171, 153, 250);
}
.image {
  width: 70%;
  height: 25rem;
  background: transparent;
}
.btn {
  width: 100%;
  border-radius: 10px;
  font-size: 1.3rem;
}
@media screen and (min-width: 500px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 650px) {
  .card {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 980px) {
  .card {
    grid-template-columns: repeat(4, 1fr);
  }
}
